@import url(http://fonts.googleapis.com/css?family=Arimo:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace);

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body { font-family: 'Arimo', "Helvetica Neue", "Helvetica", "Arial", sans-serif}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
    }

section.container {
    width: 1800px;
    margin: auto;
    box-sizing: border-box;
}

a { text-decoration: none; }

h5.showName a { text-decoration: none;
                color: #58BCFF;
}

h5.showName a:hover { color: #F80046; }

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
    width: 349px;
    height: 200px;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
    overflow-x: hidden;
    overflow-y: scroll;
}

.genre {
        color: #A8D2E0;
        font-size: .8rem;
        font-weight: bold;
        display: block;
        text-transform: capitalize;
        margin-bottom: 0;
        padding-bottom: .5rem;
}


#attribution { display: inline;
               float: right;
               border: 5px outset #FF0031;}

iframe { width: 350px;
         height: auto;
         padding-bottom: 20%;
         }

body {
    margin: 2%;
    background-color: #283741;
}

h4#headline {
    color: rgba(209, 223, 226, 0.52);
    margin-bottom: 100px;
    font-size: 1.5rem;
}

h5.showName { color: #58BCFF;
              font-size: 1rem;
            }

article { padding-bottom: 3rem;
        }

.artist-image {
               height: auto;
               max-height: 100%
               margin: 0 auto;
               }

div.artist-image { height: 100%;
                width: 100%; }


.bio { font-size: .8rem;
       z-index: 100;
       position: absolute;
       color: rgb(197, 229, 233);
       text-align: center;
       padding: 5%;
       line-height: 1.5;
       margin: auto;
}

.bio a {
    font-size: .5rem;
    text-decoration: none;
    font-weight: bold;
    color: #09B0E7;
    }

.bio a:hover { color: #09B0E7; }

.info {
    height: 200px;
    width: 350px;
    position: relative;
    /* background: linear-gradient(#788A96, #455965); */
    margin: 0;
}

/* .info:hover span { visibility: visible;
                    background-color: rgba(255,0,0,0.5); } */

/* .info:hover img { -webkit-filter: brightness(0.5); } */


p.no-image {
    font-size: 2rem;
    font-family: 'Covered By Your Grace', cursive;
    font-weight: bold;
    text-align: center;
    padding-top: 10%;
    color: rgb(105, 98, 98);
    }

.tile {
    margin-left: 60px;
    width: 380px;
    display: inline-block;
     }

.album-style { box-shadow: 0 0 2rem black;
                  height: 200px;
                  width: 349px;
                }

a:hover { color: white; }

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: #a4a4a4;
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: #3f5d6b;
    border: 1px groove rgba(9, 17, 20, 0.56);
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}


@media (max-width: 1600px) {
    section.container {
        width: 1350px;
    }
    article.tile {
    }
}

@media (max-width: 1200px) {
    section.container {
        width: 1200px;
    }

    article.tile {
    }
}

@media (max-width: 950px) {
    section.container {
        width: 900px;
    }
    article.tile {

    }
}
